/** ADD YOUR AWESOME CODES HERE **/
.header_top
{
     background-color: #242438;
    
}
.site_information ul li a
{
    color: white;
}
.section
{
    background-color: #242438;
    color: white;
}
.footer-box
{
    background-color: #242438;
}
.footer_bottom
{
    background-color: #1c1b1b;
}